* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  margin: 30px auto;
  width: 600px;
  height: 50px;
  background-color: #c4c3c3;
  box-shadow: 1px 5px 5px 5px #4d4d4d;
  display: flex;
}

li {
  list-style-type: none;
  width: 100px;
  height: 50px;
  border-right: 1px solid black;
}

li:last-child {
  border-right: none;
}

a {
  text-decoration: none;
  color: black;
  list-style-type: none;
  display: block;
  height: 100%;
  text-align: center;
  line-height: 50px;
}

a:hover {
  color: white;
  background-color: black;
}

li:last-child a:hover {
  background-color: red;
}
