* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 30px;
  /* margin도 여기 주는게 맞나,,? */
}
/* 여기 shadow 넣고 싶은데 li가 float돼서 ul height 값 없음,,, */

li {
  float: left;
  border-right: 1px solid black;
}

li:nth-child(6) {
  border-right: none;
}

a {
  text-decoration: none;
  background-color: gray;
  font-weight: 900;
  padding: 10px 30px;
  display: block;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
  background-color: black;
}
/* 추가) 이렇게 하면 되나..? */

li:hover {
  
}

a:nth-child(6):hover {
  background-color: red;
} /* 얘 왜 안먹을까....? */
