* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  width: 600px;
  height: 40px;
  box-shadow: 1px 5px 5px 5px #4d4d4d;
  background-color: #b3b3b3;
  margin: 10px auto;
}

li {
  float: left;
  width: 100px;
  height: 100%;
  line-height: 40px;
  text-align: center;
  list-style-type: none;
  border-right: 1px solid black;
}

li:last-child {
  border-right: none;
}

a {
  text-decoration: none;
  display: block;
  color: black;
}

a:hover {
  color: white;
  background-color: black;
}

li:last-child a:hover {
  background-color: red;
}
